<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:banking-payment-process-api="http://www.mulesoft.org/schema/mule/banking-payment-process-api"
	xmlns:banking-notifications-system-api="http://www.mulesoft.org/schema/mule/banking-notifications-system-api"
	xmlns:banking-authorization-server="http://www.mulesoft.org/schema/mule/banking-authorization-server"
	xmlns:banking-accounts-process-api="http://www.mulesoft.org/schema/mule/banking-accounts-process-api"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/banking-accounts-process-api http://www.mulesoft.org/schema/mule/banking-accounts-process-api/current/mule-banking-accounts-process-api.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/banking-authorization-server http://www.mulesoft.org/schema/mule/banking-authorization-server/current/mule-banking-authorization-server.xsd
http://www.mulesoft.org/schema/mule/banking-notifications-system-api http://www.mulesoft.org/schema/mule/banking-notifications-system-api/current/mule-banking-notifications-system-api.xsd
http://www.mulesoft.org/schema/mule/banking-payment-process-api http://www.mulesoft.org/schema/mule/banking-payment-process-api/current/mule-banking-payment-process-api.xsd">
	<http:listener-config name="banking_pisp_experience_api-httpListenerConfig">
		<http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS" tlsContext="TLS_Context" />
	</http:listener-config>
	<tls:context name="TLS_Context" doc:name="TLS Context"
		doc:id="e709cc47-98bf-4a52-966e-c21a3ec2d2a4">
		<tls:key-store type="jks" path="${keystore.location}"
			keyPassword="${key.password}" password="${keystore.password}" />
	</tls:context>
	<apikit:config name="banking_pisp_experience_api-config"
		raml="banking_pisp_experience_api.raml" outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties"
		doc:id="10c6af8c-6295-490f-bd21-a5c7909a4b3b" file="common.properties" />
	<configuration-properties doc:name="Configuration properties"
		doc:id="d062e148-9ad6-4935-afb3-39e2c8d8cc00" file="mule.dev.properties" />
	<os:object-store name="application_data" doc:name="Object store"
		doc:id="f7b4291c-2496-43d3-8db0-9f21e5c86c64" />
	<validation:config name="Validation_Config" doc:name="Validation Config"
		doc:id="b0412589-5507-497b-be7c-bc474791f93e" />
	<file:config name="File_Config" doc:name="File Config"
		doc:id="c87afc1f-430a-40e3-bea3-8b0c170b0eea">
		<file:connection workingDir="${jwt.resource.path}" />
	</file:config>
	<banking-accounts-process-api:config
		name="Banking_Accounts_Process_API_Config" doc:name="Banking_Accounts_Process_API Config"
		doc:id="9699646a-e292-4cda-8c4c-a86e7c43574e" property_host="${api.banking.accounts.host}"
		property_port="${api.banking.accounts.port}" property_basePath="${api.banking.accounts.basePath}"
		property_protocol="${api.banking.accounts.protocol}" />
	<banking-authorization-server:config
		name="Banking_Authorization_Server_Config" doc:name="Banking Authorization Server Config"
		doc:id="d4b2b51e-a67c-419c-9f4d-0f99d8d3993c" property_host="${api.banking.auth.host}"
		property_port="${api.banking.auth.port}" property_basePath="${api.banking.auth.basePath}"
		property_protocol="${api.banking.auth.protocol}" />
	<banking-notifications-system-api:config
		name="Banking_Notifications_System_API_config" doc:name="Banking_Notifications_System_API Config"
		doc:id="ab0f8998-2649-42c9-84c9-279d2c0768f1" property_host="${api.banking.notification.host}"
		property_port="${api.banking.notification.port}" property_basePath="${api.banking.notification.basePath}"
		property_protocol="${api.banking.notification.protocol}" />
	<banking-payment-process-api:config
		name="Banking_Payment_Process_API_Config" doc:name="Banking_Payment_Process_API Config"
		doc:id="bca1ac6a-5eb2-4c12-a92e-b806916e1a32" property_host="${api.banking.payment.host}"
		property_port="${api.banking.payment.port}" property_basePath="${api.banking.payment.basePath}"
		property_protocol="${api.banking.payment.protocol}" />
		<global-property doc:name="Global Property" name="mule.env"
		value="dev" />
		<api-gateway:autodiscovery apiId="${api.id}" doc:name="API Autodiscovery" doc:id="42c4ae4b-9b6a-4ebc-8e5d-a31e77f77338" flowRef="banking_pisp_experience_api-main" />
		
</mule>
