<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" 
	xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

    <context:property-placeholder location="common.properties,mule.${mule.env}.properties"/>

	<http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="${https.port}" doc:name="Initiation" protocol="HTTPS">
        <tls:context>
            <tls:key-store type="jks" path="${keystore.location}" keyPassword="${key.password}" password="${keystore.password}"/>
        </tls:context>
    </http:listener-config>
	
	<apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" />
	
	<http:request-config name="accounts-process-api" doc:name="HTTP Request Configuration"
			host="#[new URL('${api.banking.accounts.baseUrl}').getHost()]" 
		    port="#[new URL('${api.banking.accounts.baseUrl}').getPort()]" 
		    basePath="#[new URL('${api.banking.accounts.baseUrl}').getPath()]">
        <http:raml-api-configuration location="accounts-process-api/template-banking-accounts-process-api.raml"/>
    </http:request-config>
    
    <http:request-config name="payments-process-api" doc:name="HTTP Request Configuration"
	    	host="#[new URL('${api.banking.payments.baseUrl}').getHost()]" 
		    port="#[new URL('${api.banking.payments.baseUrl}').getPort()]" 
		    basePath="#[new URL('${api.banking.payments.baseUrl}').getPath()]">
        <http:raml-api-configuration location="payments-process-api/payment-process-api.raml"/>
    </http:request-config>
    
    <http:request-config name="auth-server-config" doc:name="HTTP Request Configuration" protocol="HTTPS"
		     host="#[new URL('${as.baseUrl}').getHost()]" 
		     port="#[new URL('${as.baseUrl}').getPort()]" 
		     basePath="#[new URL('${as.baseUrl}').getPath()]">
        <tls:context>
            <tls:trust-store insecure="true"/>
        </tls:context>
        <http:raml-api-configuration location="authorization-server-api/api.raml"/>
    </http:request-config>
    
    <http:request-config name="notifications-system-api" doc:name="HTTP Request Configuration"
		    host="#[new URL('${api.banking.notifications.baseUrl}').getHost()]"
		    port="#[new URL('${api.banking.notifications.baseUrl}').getPort()]"
		    basePath="#[new URL('${api.banking.notifications.baseUrl}').getPath()]" >
        <http:raml-api-configuration location="notifications-system-api/api.raml"/>
    </http:request-config>

	<api-platform-gw:api apiName="${api.name}" version="${api.version}" flowRef="api-main" create="true" apikitRef="api-config" doc:name="API Autodiscovery"/>
	
	<objectstore:config name="application_data" partition="_defaultUserObjectStore" persistent="true" objectStore-ref="_defaultUserObjectStore" doc:name="ObjectStore: Connector" entryTtl="300000"/>
    
</mule>
