<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">

    <context:property-placeholder location="common.properties,mule.${mule.env}.properties"/>

	<http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="Initiation" />
	
	<http:listener-config name="http-continuation" host="0.0.0.0" port="8082" doc:name="Continuation" />
	
	<apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" />
	
	<http:request-config name="accounts-process-api" protocol="HTTP" host="${api.banking.accounts.host}" port="${api.banking.accounts.port}" basePath="${api.banking.accounts.basepath}" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="banking-accounts-process-api/template-banking-accounts-process-api.raml"/>

    </http:request-config>
    
    <http:request-config name="payments-process-api" protocol="HTTP" host="${api.banking.payments.host}" port="${api.banking.payments.port}" basePath="${api.banking.payments.basePath}" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="payments-process-api/payment-process-api.raml"/>
    </http:request-config>

</mule>
